@model IEnumerable<GalleryApp.Domain.Models.Photo>

@{ ViewData["Title"] = "Index"; }

<div class="table-transp">
    @await Html.PartialAsync("_ViewAllPhotos", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}