@model IEnumerable<GalleryApp.Domain.Models.User>

@{ ViewData["Title"] = "Index"; }

<div id="view-all">
    @await Html.PartialAsync("_ViewAllUsers", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}