@model IEnumerable<GalleryApp.Domain.Models.Photo>

@{
    ViewData["Title"] = "Details";
}

<div class="am-container" id="am-container">
    @foreach (var img in Model)
    {
        <a data-fancybox="gallery" href="/Images/@img.Name">
            <img src="/Images/thumbnails/@img.Name" alt="">
        </a>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://snipp.ru/cdn/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="~/lib/montage/jquery.montage.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.am-container').montage({
            liquid: false,
            fillLastRow: false,
            margin: 6,
            fixedHeight: 200
        });
    });	
</script>