@model IEnumerable<GalleryApp.Domain.Models.LastPhotos>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-dark table-transp">
        @foreach (var genre in Model)
        {
            <thead class="transp1">
                <tr>
                    <th colspan="4">
                        <a asp-controller="Photo" asp-action="Genre" asp-route-id="@genre.GenreId" class="text-uppercase text-white font-weight-normal h4">@genre.Genre</a>
                    </th>
                </tr>
            </thead>
            <tbody class="transp2">
                <tr>
                    @foreach (var img in genre.Photos)
                    {

                        <td>
                            <a data-fancybox="gallery" href="/Images/@img.Name">
                                <img class="imgall" src="/Images/thumbnails/@img.Name" alt="@img.Title">
                            </a>
                        </td>

                    }
                </tr>
            </tbody>
        }
    </table>
</div>
<script src="https://snipp.ru/cdn/fancybox/3.5.7/jquery.fancybox.min.js"></script>