@model IEnumerable<GalleryApp.Domain.Models.LastPhotos>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        @foreach (var genre in Model)
        {
            <thead>
                <tr>
                    <th>
                        <a asp-controller="Photo" asp-action="Get" asp-route-id="@genre.GenreId">@genre.Genre</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var photo in genre.Photos)
                    {

                        <td>
                            <img style="width:200px;height:200px" src="/Images/@photo.Name">
                        </td>

                    }
                </tr>
            </tbody>
                }
        </table>
</div>
